* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: max-width;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(79, 29, 140, 1) 50%,
    rgba(145, 71, 122, 1) 100%
  );
}

a {
  text-decoration: none;
  color: inherit;
}

.top-header {
  padding: 20px;
}

.top-header main {
  display: grid;
  place-items: center;
  position: relative;
  height: 10vh;
}

.top-header main header {
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(121, 118, 118, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgb(50, 50, 50);
  position: fixed;
  z-index: 1;
  background-color: #6b494995;
}

.top-header main header h1 {
  padding: 5px 40px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 2%,
    rgba(196, 55, 173, 1) 100%
  );
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.top-header main header h1:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.top-header main header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px 20px;
  color: #fff;
  
}

.top-header main header nav ul li {
  position: relative;
  padding-bottom: 5px;
}

.top-header main header nav ul li::after {
  content: '';
  position: absolute;
  border-bottom: solid violet;
  width: 0%;
  bottom: 0;
  left: 0;
  transition: all 0.5s linear;
}

.top-header main header nav ul li:hover::after {
  width: 100%;
}

.about-home {
  display: grid;
  place-items: center;
  padding-top: 150px;
}

.about-home .about-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.about-home .definition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.about-home .definition h3 {
  color: rgba(255, 255, 255, 0.5);
}

.about-home .definition p:nth-child(2) {
  font-size: 4rem;
  color: rgba(174, 41, 179, 1);
}

.about-home .definition p:nth-child(3) {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  line-height: 30px;
  padding: 20px;
}

.about-home .home-features {
  display: flex;
  gap: 30px;
}

.about-home .home-features div {
  border: 1px solid rgb(82, 81, 81);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  line-height: 30px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

.about-home .home-features div:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.5);
}

.about-home .home-features div h2 {
  color: rgba(174, 41, 179, 1);
  text-shadow: 0 0 1px black;
}

.about-home .home-features div h5 {
  color: rgba(255, 255, 255, 0.7);
}

.about-home .buttons {
  display: flex;
  gap: 30px;
}

.about-home .buttons input {
  padding: 20px 35px;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(174, 41, 179, 1);
  font-weight: bold;
  cursor: pointer;
}

.about-home .buttons input:nth-child(1) {
  color: white;
  border: 1px solid pink;
}

.about-home .buttons input:nth-child(2) {
  color: white;
  border: 1px solid pink;
}

.about-home .buttons input:nth-child(1):hover {
  border: 1px solid white;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 2%,
    rgba(196, 55, 173, 1) 100%
  );
}

.about-home .buttons input:nth-child(2):hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 2%,
    rgba(196, 55, 173, 1) 100%
  );
  color: black;
  border: 1px solid white;
}

.quantum-capabilities {
  padding: 150px 50px;
}

.quantum-capabilities h2 {
  text-align: center;
  padding-bottom: 100px;
  font-size: 4rem;
  color: aqua;
}

.quantum-capabilities .capabilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  row-gap: 50px;
  margin: 0 50px;
  position: relative;
}

.quantum-capabilities .capabilities div h1 {
  color: white;
}

.quantum-capabilities .capabilities .one {
  width: 70%;
  border: 0.5px solid rgb(239, 117, 239, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px;
  transform: skewX(350deg);
  box-shadow: 2px 2px 15px rgb(137, 137, 137, 0.5);
}

.quantum-capabilities .capabilities .one:hover,
.quantum-capabilities .capabilities .four:hover,
.quantum-capabilities .capabilities .five:hover {
  transform: skew(350deg) scale(1.1);
  transition: all 1s ease;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.5);
}

.quantum-capabilities .capabilities div p:first-child,
p:nth-child(6),
p:nth-child(9) {
  font-size: 75px;
  color: rgba(224, 18, 190, 1);
}

.quantum-capabilities .capabilities div p:nth-child(3),
p:nth-child(8),
p:nth-child(11) {
  color: rgba(255, 255, 255, 0.7);
}

.quantum-capabilities .capabilities .two {
  width: 60%;
}

.quantum-capabilities .capabilities .two:hover,
.quantum-capabilities .capabilities .three:hover,
.quantum-capabilities .capabilities .six:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.7);
  border-radius: 20px;
}

.quantum-capabilities .capabilities img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 20px;
}

.quantum-capabilities .capabilities .three, 
.quantum-capabilities .capabilities .six {
  width: 60%;
}

.quantum-capabilities .capabilities .four, .quantum-capabilities .capabilities .five {
  width: 70%;
  border: 0.5px solid rgb(239, 117, 239, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px;
  transform: skewX(350deg);
  box-shadow: 2px 2px 15px rgb(137, 137, 137, 0.5);
}

.matrix-protocols {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.matrix-protocols h2 {
  color: aqua;
  font-size: 4rem;
  text-align: center;
  padding-top: 50px;
}

.protocols {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.protocols .protocols-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding: 0 30px;
}

.protocols .protocols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 370px;
}

.protocols .protocols-1 .pro-one,
.pro-two,
.pro-three,
.pro-four {
  transform: skew(340deg);
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  border: 0.5px solid rgba(59, 28, 59, 0.2);
  box-shadow: 2px 2px 15px rgba(53, 50, 50, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.protocols .protocols-2 .pro-five,
.protocols .protocols-2 .pro-six {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 10px;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  border: 0.5px solid rgba(59, 28, 59, 0.2);
  box-shadow: 2px 2px 15px rgba(53, 50, 50, 0.3);
  transform: skew(340deg);
}

.protocols .protocols-1 h1, .protocols .protocols-2 h1 {
  color: white;
}

.protocols .protocols-1 div p:first-child,
p:nth-child(4),
p:nth-child(7),
p:nth-child(10),
.protocols .protocols-2 p:nth-child(1),
p:nth-child(4) {
  font-size: 55px;
  color: rgba(224, 18, 190, 1);
}

.protocols .protocols-1 div p:nth-child(3),
p:nth-child(6),
p:nth-child(9),
p:nth-child(12),
.protocols .protocols-2 p:nth-child(3),
p:nth-child(6) {
  color: rgba(255, 255, 255, 0.7);
}

.protocols .protocols-1 .pro-one:hover,
.protocols .protocols-1 .pro-two:hover,
.protocols .protocols-1 .pro-three:hover,
.protocols .protocols-1 .pro-four:hover,
.protocols .protocols-2 .pro-five:hover,
.protocols .protocols-2 .pro-six:hover {
  transform: scale(1.1);
  transition: all 1s ease;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.5);
}

.evolution-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 150px 0 100px 0;
}

.evolution-timeline h2 {
  color: aqua;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 100px;
}

/* .evolution-timeline .timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  row-gap: 80px;
  padding: 0 100px;
} */

.evolution-timeline-total {
  display: grid;
  position: relative;
  /* place-items: center; */
}

.evolution-timeline .evolution-timeline-one, .evolution-timeline .evolution-timeline-three {
  display: grid;
  place-items: start;
  padding: 0 200px;
}

.evolution-timeline .evolution-timeline-two, .evolution-timeline .evolution-timeline-four {
  display: grid;
  place-items: end;
  padding: 0 200px;
}

.evolution-timeline .evolution-timeline-one .timeline-one, .evolution-timeline .evolution-timeline-two .timeline-two, .evolution-timeline .evolution-timeline-three .timeline-three, .evolution-timeline .evolution-timeline-four .timeline-four {
  display: grid;
  width: 45%;
}

.evolution-timeline .evolution-timeline-one .timeline-one div,
.evolution-timeline-two .timeline-two div,
.evolution-timeline-three .timeline-three div,
.evolution-timeline-four .timeline-four div {
  border: 0.5px solid rgba(105, 44, 105, 0.2);
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(53, 50, 50, 0.4);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.evolution-timeline h1 {
  color: rgba(174, 41, 179, 1);
  text-shadow: 0 0 1px black;
}

.evolution-timeline h3 {
  color: white;
  font-size: 1.75rem;
}

.evolution-timeline p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.evolution-timeline .evolution-timeline-one .timeline-one:hover,
.evolution-timeline .evolution-timeline-two .timeline-two:hover,
.evolution-timeline .evolution-timeline-three .timeline-three:hover,
.evolution-timeline .evolution-timeline-four .timeline-four:hover {
  transform: scale(1.025);
  transition: all 5ms ease;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.5);
}

.evolution-timeline .evolution-timeline-total .intersect {
  position: absolute;
  height: 100%;
  width: 0.5%;
  left: 50%;
  right: 50%;
  background-color: rgb(200, 98, 113, 0.4);
  border-radius: 5px;
}

.connection-transmission {
  display: grid;
  place-items: center;
  padding: 120px 0 100px 0;
}

.connection-transmission .connection {
  display: grid;
}

.connection-transmission .connection .matrix-transmission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 30px;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border: 0.5px solid rgba(105, 44, 105, 0.2);
  box-shadow: 2px 2px 15px rgba(53, 50, 50, 0.4);
  border-radius: 20px;
  padding: 50px;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  .icons {
  display: flex;
  gap: 40px;
  font-size: 25px;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  .icons
  li {
  border: 1px solid rgba(255, 192, 203, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  .icons
  i {
  color: aqua;
  cursor: pointer;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  .icons
  li:hover {
  box-shadow: 0 0 10px gray;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  h1 {
  font-size: 3rem;
  color: aqua;
}

.connection-transmission
  .connection
  .matrix-transmission
  .establish-connection
  p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.connection-transmission .connection .matrix-transmission .transmission {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 0.5px solid rgba(105, 44, 105, 0.2);
  box-shadow: 2px 2px 15px rgba(53, 50, 50, 0.4);
  border-radius: 20px;
  padding: 50px;
}

.connection-transmission .connection .matrix-transmission .transmission input,
textarea {
  border: 0.5px solid rgba(171, 68, 171, 0.8);
  padding: 15px;
  border-radius: 15px;
  background: none;
}

.connection-transmission
  .connection
  .matrix-transmission
  .transmission
  input:placeholder-shown,
textarea:placeholder-shown {
  font-size: 16px;
}

.connection-transmission
  .connection
  .matrix-transmission
  .transmission
  input[type="button"] {
  background: linear-gradient(
    90deg,
    rgba(48, 217, 230, 1) 0%,
    rgba(224, 18, 190, 1) 100%
  );
  color: black;
  font-size: 1.15rem;
  font-weight: bold;
}

.connection-transmission
  .connection
  .matrix-transmission
  .transmission
  input[type="button"]:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: all 5ms ease;
  box-shadow: 0px 0px 40px rgb(137, 137, 137, 0.7);
}

.connection-transmission
  .connection
  .matrix-transmission
  .transmission
  input:focus,
textarea:focus {
  border: 1px solid aqua;
  outline: none;
  transform: scale(1.015);
  box-shadow: 2px 2px 15px rgb(137, 137, 137, 0.5);
}

footer {
  width: 100%;
  height: 30vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 75px 0 40px 0;
  background: linear-gradient(
    90deg,
    rgba(70, 47, 120, 1) 0%,
    rgba(21, 3, 66, 1) 100%
  );
}

footer .footer-one nav ul {
  display: flex;
  gap: 30px;
  padding: 10px 0;
}

footer .footer-one a {
  display: flex;
  color: rgb(245, 242, 242, 0.8);
  position: relative;
  padding-bottom: 5px;
}

footer .footer-one a::after {
  content: "";
  position: absolute;
  width: 0%;
  background-clip: border;
  border-bottom: solid violet;
  bottom: 0;
  left: 0;
  transition: all 0.5s linear;
}

footer .footer-one a:hover::after {
  width: 100%;
}

footer .footer-two p {
  color: gray;
}

footer .footer-three p {
  color: rgb(102, 100, 100);
}

footer .footer-three p span {
  color: blueviolet;
}
